* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #ffffff;
  overflow-x: hidden;
}
.head {
  width: 250px;
  padding: 20px;
  background-color: #1a1a1a;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  z-index: 100;

  .head-1 {
    margin-bottom: 20px;
    display: flex;
    color: white;
    align-items: center;
  }
  .head-2 a {
    text-decoration: none;
  }
  .head-1 i {
    margin-right: 15px;
  }

  .head-2 div {
    display: flex;
    color: white;
    align-items: center;
    line-height: 40px;
    transition: all 0.5s ease;
    font-size: 15px;
  }
  .head-2 div i {
    margin-right: 15px;
  }
  .head-2 div:hover {
    background-color: aqua;
    padding: 8px;
    border: 0px;
    border-radius: 5px;
    border-width: 1px;
    line-height: 40px;
  }
}


